* {
 margin: 0;
 padding: 0;
}

.table-wrap {
 max-width: 1000px;
 margin: 80px auto;
 overflow-x: auto;
}

.research {
 padding: 24px 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.search-limit-page {
 display: flex;
 align-items: center;
 gap: 16px;
}

.select-limit select {
 padding: 4px 8px;
 font-size: 16px;
}
.search-limit-page span {
 font-size: 18px;
}

.search-text span {
 font-size: 18px;
 margin-right: 16px;
}

.search-text input {
 font-size: 16px;
 padding: 4px 12px;
}

table,
td,
th {
 /*   border: 1px solid #ddd; */
 text-align: left;
 font-size: 18px;
 text-transform: capitalize;
}

table thead tr {
 background-color: #7b8adc;
 color: #fff;
}

table {
 border-collapse: collapse;
 width: 100%;
 /* border-radius: 8px 8px 0px 0px; */
 overflow: hidden;
}

table tbody tr td {
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
}

th,
td {
 padding: 15px 20px;
 white-space: nowrap;
}

th {
 background-color: #ffffff;
 color: black;
 cursor: pointer;
}

th:hover {
 background-color: #fcfcfc;
}

table tbody tr:nth-child(odd) {
 background: #b4b4b442;
 color: #000;
 font-weight: 500;
}

.box-wrap {
 padding: 0px 16px;
}

table tbody tr td::last-child {
 background-color: red;
}

.column_name {
 position: relative;
}

.column_name.sort_desc .sort i:first-child {
 color: #858585;
}

.column_name.sort_asc .sort i:last-child {
 color: #858585;
}

.sort {
 position: absolute;
 right: 4px;
 display: flex;
 flex-direction: column;
 gap: 0px;
 top: 40%;
 transform: translateY(-50%);
}

.sort i {
 height: 6px;
 color: #e5e5e5;
}

#footer {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 20px;
}

.footer-left {
 font-size: 17px;
}

#pagination-container {
 text-align: center;
}

#pagination-list {
 list-style: none;
 padding: 0;
}

.pagination-item {
 display: inline-block;
 margin: 0 6px;
 padding: 6px 14px;
 border-radius: 4px;
}

.pagination-item:hover {
 background-color: #1f1f1f;
 color: #fff;
 cursor: pointer;
}

.pagination-item.active {
 background-color: #fbfbfb;
 color: #000;
 border: 1px solid #ccc;
 pointer-events: none;
}

.disable {
 pointer-events: none;
 opacity: 0.5;
}
