.banner-left .banner-title {
 font-size: 44px;
 font-weight: 400;
 margin-bottom: 16px;
}

.banner-title span {
 color: #335eea;
}

.banner-left p {
 font-size: 21px;
 margin-bottom: 48px;
 color: #869abb;
 line-height: 30px;
}

.btn-banner {
 display: flex;
}

.btn-banner_view {
 color: #fff;
 background-color: #335eea;
}

.btn-banner_view-icon {
 margin-left: 8px;
 margin-top: 4px;
}
.btn-banner_view:hover {
 background-color: #2b50c7;
}

.btn-banner_document {
 margin-left: 4px;
 color: #335eea;
 background-color: #e1e7fc;
}

.banner-right {
 position: relative;
}

.img-banner {
 position: absolute;
 max-width: 150%;
 height: 120%;
}
