#footer {
 background-color: #f1f4f8;
}

.footer__left--branch {
 height: 20px;
 margin-right: auto;
}

.footer__left span {
 font-size: 17px;
}

.footer__left--logo img {
 height: 20px;
 width: 20px;
 margin-right: 16px;
 cursor: pointer;
}

.footer__right--content-title {
 font-size: 13px;
 padding-bottom: 8px;
 color: #506690;
 text-transform: uppercase;
}

.footer__right--content a {
 font-size: 17px;
 margin-bottom: 12px;
 color: #869ab8;
}

.footer__right--content a:hover {
 text-decoration: underline;
 cursor: pointer;
}

.text-branch {
 color: #506690;
}
