html {
 font-family: "Hanken Grotesk", sans-serif;
}

body {
 margin: 0;
 overflow-x: hidden;
}

a {
 text-decoration: none;
 color: #black;
}

li {
 list-style: none;
}
p {
 padding: 0;
 margin: 0;
}

ul {
 padding: 0;
 margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
 font-weight: 400;
 font-style: normal;
}

:root {
}

.d-block {
 display: block;
}

.d-flex {
 display: flex;
}

.justify-center {
 justify-content: center;
}

.justify-between {
 justify-content: space-between;
}

.item-center {
 align-items: center;
}

.column {
 display: flex;
 flex-direction: column;
}

.h-full {
 height: 100%;
}

.w-full {
 width: 100%;
}

.flex-1 {
 flex: 1;
}

.mt-8 {
 margin-top: 8px;
}

.mb-8 {
 margin-bottom: 8px;
}

.mt-12 {
 margin-top: 12px;
}

.mt-16 {
 margin-top: 16px;
}

.mt-24 {
 margin-top: 24px;
}

.mt-48 {
 margin-top: 48px;
}

.mb-16 {
 margin-bottom: 16px;
}

.mt-96 {
 margin-top: 96px;
}

.mb-48 {
 margin-bottom: 48px;
}

.mb-96 {
 margin-bottom: 96px;
}

.ml-96 {
 margin-left: 96px;
}

/* .mx-container {
 max-width: 1000px;
 margin: 0 auto;
} */

.pt-96 {
 padding-top: 96px;
}

.py-96 {
 padding: 96px 0;
}

.py-48 {
 padding: 48px 0;
}

.px-20 {
 padding: 0 20px;
}

.pt-8 {
 padding-top: 8px;
}

.pt-12 {
 padding-top: 12px;
}

.pt-16 {
 padding-top: 16px;
}

.relative {
 position: relative;
}

.z-10 {
 z-index: 10;
}

.text-align-center {
 text-align: center;
}

.btn {
 outline: none;
 border: none;
 padding: 14px 20px;
 font-size: 17px;
 border-radius: 4px;
 cursor: pointer;
}

.btn:hover {
 box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1),
  0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
 transform: translate3d(0, -3px, 0);
 transition: box-shadow 0.25s ease, transform 0.25s ease;
}
