.header {
 padding: 20px;
}

.header-nav {
}

.header-nav .header-nav_item {
 color: #506690;
 font-size: 18px;
 font-weight: 500;
 padding: 16px 20px;
 cursor: pointer;
}

.header-nav_item {
 position: relative;
}

.nav-item_list {
 position: absolute;
 border-radius: 8px;
 background-color: #fff;
 z-index: 10;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 display: none;
 top: 100%;
}

.slide-in {
 animation: slideIn 0.5s forwards;
}

.slide-out {
 animation: slideOut 0.5s forwards;
}

.nav-first_list {
 left: -280px;
 width: 620px;
 overflow: hidden;
}

.nav-second_list {
 left: -250px;
 width: 600px;
}

.nav-second_list {
 left: -250px;
 width: 600px;
}

.nav-third-list {
 left: -70px;
 width: 240px;
}

.nav-fourth-list {
 left: -100px;
 width: 360px;
}

.nav-item_fourth {
 gap: 8px;
}

.nav-item_fourth {
 padding: 0 24px;
}

.header-nav_item-img {
 height: auto;
 position: relative;
}

.header-nav_item-img img {
 width: 100%;
 height: 100%;
}

.header-nav_item-img-absolute {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(13, 110, 253, 0.7);
 display: flex;
 justify-content: center;
 align-items: center;
}

.img-absolute_content {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 color: #fff;
 gap: 8px;
}

.img-absolute_content-des {
 font-size: 17px;
 font-weight: 300;
}

.img-absolute_content-title-btn button {
 margin-top: 4px;
 outline: none;
 color: #335eea;
 background-color: #fff;
 border: none;
 padding: 12px 10px;
 border-radius: 4px;
 font-size: 16px;
 cursor: pointer;
}

.nav-item_first-right {
 margin: 36px;
}

.item-first-right_list-column {
 display: flex;
 flex-direction: column;
 height: 100%;
}

.item-first-right_list-left {
 font-size: 15px;
}

.item-first-right_list-left a:first-child li {
 color: #335eea;
 font-weight: 400;
 margin-bottom: 12px;
}

.item-first-right_list-left a li {
 font-weight: 400;
 margin-bottom: 12px;
 color: #506690;
}

.item-first-right_list-left li:hover {
 color: #335eea;
}

.nav__second--content {
 padding: 36px;
}

.nav__third--content {
 padding: 24px 0;
 gap: 12px;
}

.nav-item__third-item {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 16px;
 color: #506690;
 cursor: pointer;
 position: relative;
 padding: 0 32px;
}

.nav-item__third-item:hover {
 color: #335eea;
}
.nav-item__third-item i {
 font-size: 12px;
}

.nav-account--pc a li {
 margin-bottom: 12px;
 color: #506690;
}

.nav-account--pc a:last-child li {
 margin-bottom: 0;
}
.nav-account--pc {
 display: none;
 opacity: 0;
 position: absolute;
 top: -120%;
 left: 100%;
 background-color: #fff;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 width: 70%;
 padding: 24px 32px;
 border-radius: 4px;
 transform: translateY(10px);
 transition: opacity 0.3s linear, transform 0.3s linear;
}

.nav-item__third-item:hover .nav-account--pc {
 opacity: 1;
 transform: translateY(0);
 display: block;
}

.nav-account--pc a li:hover {
 color: #335eea;
}

.nav-item_fourth-item {
 display: flex;
 align-items: center;
 gap: 16px;
 padding: 18px 0;
}

.fourth-item_content {
 display: flex;
 flex-direction: column;
 gap: 4px;
 position: relative;
 flex: 1;
}

.fourth-item_content h6 {
 font-size: 14px;
 font-weight: 500;
 color: #335eea;
 text-transform: uppercase;
}

.fourth-item_content p {
 font-size: 14px;
 font-weight: 400;
 color: #506690;
}

.fourth-item_version {
 position: absolute;
 right: 0;
 top: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 background-color: #e1e7fc;
 padding: 4px 8px;
 border-radius: 50px;
 font-size: 12px;
}

.nav-item_fourth .nav-item_fourth-item:not(:last-child) {
 border-bottom: 1px solid #e4e4e4;
}

.btn_buy {
 outline: none;
 border: none;
 padding: 14px 20px;
 font-size: 17px;
 background-color: #335eea;
 color: #fff;
 border-radius: 4px;
 cursor: pointer;
}

.btn_buy:hover {
 background-color: #2b50c7;
 box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1),
  0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
 transform: translate3d(0, -3px, 0);
 transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.header__navbar--icon {
 font-size: 24px;
 cursor: pointer;
 color: #c3c3c3;
}

.header__nav--mobile {
 display: none;
 z-index: 999;
 overflow-y: scroll;
 position: fixed;
 top: 16px;
 left: 16px;
 right: 16px;
 height: calc(100vh - 32px);
 background-color: #fff;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 transform-origin: top right;
 transform: scale(0);
 animation: scaleInMobile 0.2s forwards;
}

.header__nav--mobile.active {
 display: block;
}

.header-nav_item-mb {
 padding: 24px;
}

.btn_buy--mobile {
 border-top-left-radius: 0px;
 border-top-right-radius: 0px;
 width: 100%;
}

.close-nav-mb {
 position: absolute;
 right: 24px;
 top: 24px;
}

.close-nav-mb i {
 font-size: 20px;
 color: #506690;
 cursor: pointer;
}

.nav__acount--list {
 font-size: 15px;
 padding: 16px 0 16px 8px;

 display: none;
}

.nav__acount--list.active {
 display: block;
}

.nav__acount--list a li {
 margin-bottom: 7.2px;
 color: #506690;
}

.nav__acount--list a li:hover {
 color: #335eea;
 cursor: pointer;
}

.nav__acount--list a:last-child {
 margin-bottom: 0;
}

.nav-mobile-on {
 animation: scaleInMobile 0.3s forwards;
}

.nav-mobile-off {
 animation: scaleOutMobile 0.3s forwards;
}
