.intro-cohesive h3 {
 font-weight: 400;
 font-size: 24px;
 margin: 12px 0 16px;
 color: #161c2d;
}

.intro-cohesive p {
 font-weight: 400;
 font-size: 17px;
 color: #869abb;
}

.slider__logo {
 border-top: 0.5px solid #e8e8e8;
 border-bottom: 1px solid #e8e8e8;
}

.slider__logo--list {
 padding: 48px 0;
}

.slider__logo--item img {
 color: #869ab8;
 padding: 0 20px;
 height: 46px;
}

.form-group {
 min-height: 25px;
 background-image: linear-gradient(to bottom, #f9fbfd 0, #fff 100%);
}

.form__left {
 border-radius: 8px;
 overflow: hidden;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form__left:hover {
 transform: translateY(-10px);
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.form__left--content {
 background-color: #fff;
 padding: 24px;
}

.form__floating {
 display: flex;
 flex-flow: column-reverse;
 margin-bottom: 8px;
}

.form__input {
 border: none;
 border-bottom: 0.5px solid #f1f4f8;
 padding: 12px 0;
 outline: none;
 -webkit-appearance: none;
 width: 100%;
}

.form__btn {
 margin-top: 36px;
 width: 100%;
 color: #fff;
 background-color: #42ba96;
 box-shadow: 0 0 0 rgba(22, 28, 45, 0);
}

.form__btn:hover {
 background-color: ##328c71;
}
.form__input {
 font-size: 14px;
}
.form__label,
.form__input {
 transition: all 200ms ease;
}

.form__input:focus {
 outline: 0;
 border-color: #6c89ff;
}

.form__input:placeholder-shown + .form__label {
 cursor: text;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 transform-origin: left bottom;
 transform: translate(0, 2.3em) scale(1.2);
}

.form__input:not(:placeholder-shown) + .form__label,
.form__input:focus + .form__label {
 transform: translate(0, 0.8em);
 cursor: default;
 color: #a8b6cc;
}

.form__label {
 max-width: 66.666%;
 color: #a8b6cc;
 font-size: 13px;
}

::-webkit-input-placeholder {
 opacity: 0;
 transition: inherit;
}

.form-app {
 background-color: #fafbfd;
}

.form__right--content {
 margin-left: 96px;
}

.form__right--content h4 {
 font-size: 32px;
}

.form__right--content h4 span {
 color: #42ba96;
}

.form__right--content p {
 font-size: 18px;
 color: #869ab8;
 font-weight: 400;
 line-height: 32px;
}

.form__right--title span.typed-text {
 font-weight: normal;
 color: #42ba96;
}
.form__right--title span.cursor {
 display: inline-block;
 background-color: #42ba96;
 margin-left: 0.1rem;
 width: 2px;
 animation: blink 0.3s infinite;
}
.form__right--title span.cursor.typing {
 animation: none;
}
.form__check--item span {
 color: #42ba96;
}

.form__check--icon {
 background-color: #e9f6f3;
 padding: 4px 6px;
 color: #42ba96;
 margin-right: 24px;
 border-radius: 50px;
 font-size: 12px;
}

.experience__left h2 {
 font-size: 32px;
}

.experience__left h2 span {
 color: #335eea;
}

.experience__left > p {
 font-size: 17px;
 color: #869ab8;
 margin-bottom: 32px;
}

.experience__left--icon {
 margin-top: -8px;
}

.experience__left--content {
 align-items: top;
}

.experience__left--content img {
 margin-right: 20px;
}

.experience__left--content p,
.experience__left--content h4 {
 font-size: 17px;
}

.experience__left--content p {
 color: #869ab8;
 font-size: 16px;
}

.form__slider {
 position: relative;
}

.form__slider--overlay {
 position: absolute;
 bottom: 0;
 left: 60%;
 top: -20%;
 transform: translateX(-50%) scale(1.2);
 width: 100%;
 pointer-events: none;
 box-sizing: border-box;
}

.form__slider--img {
 position: absolute;
 bottom: 0;
 left: 55%;
 transform: translateX(-50%) scale(1);
 width: 100%;
 pointer-events: none;
 color: #f1f4f8;
 box-sizing: border-box;
 perspective-origin: 0;
 perspective: 1500px;
 transform-style: preserve-3d;
}

.form__slider--img img {
 width: 100%;
 --bs-screenshot-border-radius: 0.625rem;
 --bs-screenshot-box-shadow: 25px 60px 125px -25px rgba(80, 102, 144, 0.1),
  16px 40px 75px -40px rgba(0, 0, 0, 0.2);
 border-radius: var(--bs-screenshot-border-radius);
 box-shadow: var(--bs-screenshot-box-shadow);

 backface-visibility: hidden;
 transform: rotateY(-35deg) rotateX(15deg);
}

.error {
 font-size: 15px;
 color: red;
}

.customer__intro {
 margin: 0 96px;
}

.customer__intro h4 {
 font-size: 28px;
 margin-bottom: 16px;
}

.customer__intro p {
 margin: 0 24px 64px;
 font-size: 19px;
 color: #869ab8;
 line-height: 28px;
}

.intro__slider {
 max-height: 380px;
 border-radius: 8px;
 background-color: #fff;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 position: relative;
 z-index: 10;
}

.intro__slider--item {
 display: flex;
 transition: transform 0.5s ease-in-out;
 /* flex-wrap: wrap;  */
}

.intro__slider--container {
 overflow: hidden;
}

.intro__slider--content {
 flex: 0 0 100%;
 height: 380px;
}

.intro__slider--img {
 overflow: hidden;
 height: 380px;
 z-index: 10;
}

.intro__slider--img img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 97% 3% 12% 88% / 0% 32% 68% 100%;
 border-top-left-radius: 8px;
 border-bottom-left-radius: 8px;
}

.intro__slider--card {
 height: 100%;
 padding: 0 24px;
}

.intro__slider--card img {
 margin-bottom: 40px;
}

.intro__slider--card h4 {
 font-size: 20px;
 line-height: 36px;
 text-align: center;
}

.intro__slider--card p {
 text-transform: uppercase;
 margin-top: 32px;
 color: #869ab8;
 font-size: 14px;
}

.intro__slider--img-item {
 transition: opacity 0.1s ease;
}

.slide-right {
 opacity: 0.5;
}

.btn-prev-slider,
.btn-next-slider {
 background-color: #335eea;
 font-size: 14px;
 border: none;
 outline: none;
 height: 54px;
 width: 54px;
 cursor: pointer;
 color: #fff;
 border-radius: 50px;
 z-index: 50;
}

.btn-prev-slider:active,
.btn-next-slider:active {
 opacity: 0.8;
 transition: all 0.3 ease-in-out;
}

.btn-prev-slider {
 position: absolute;
 top: 50%;
 left: -24px;
 transform: translateY(-50%);
}

.btn-next-slider {
 position: absolute;
 top: 50%;
 right: -24px;
 transform: translateY(-50%);
}

.statistical--overlay {
 position: absolute;
 left: 0;
 width: 136%;
 right: 0;
 bottom: -180px;
 z-index: 1;
}

.statistical {
 background-color: #f1f4f8;
}

.statistical__content--left {
 margin-top: 62px;
}

.statistical__content--left h2 {
 font-size: 28px;
 line-height: 36px;
 margin-bottom: 32px;
}

.statistical__content--left h2 span {
 color: #395eea;
}

.statistical__content--left p {
 font-size: 17px;
 color: #506690;
 line-height: 28px;
 margin-bottom: 32px;
}

.statistical__parameter {
 padding-right: 18px;
 padding-left: 18px;
 border-right: 1px solid #ccc;
 clear: both;
}

.statistical__parameter:last-child {
 border-right: none;
}

.statistical__parameter:first-child {
 padding-left: 0;
}
.statistical__parameter h6 {
 font-size: 19px;
 margin-bottom: 8px;
}

.statistical__parameter span {
 font-size: 18px;
 color: #506690;
}

.statistical__content--right {
 padding-top: 24px;
}

.statistical__content--img {
 height: 100%;
 width: 100%;
}

.switch {
 position: relative;
 display: inline-block;
 width: 3rem;
 height: 1.5rem;
 margin: 0 24px;
}

#toggle {
 opacity: 0;
 width: 0;
 height: 0;
}
.slider-toggle {
 position: absolute;
 cursor: pointer;
 inset: 0;
 background-color: #d9e2ef;
 border-radius: 1rem;
 transition: 0.4s;
}
.slider-toggle:before {
 position: absolute;
 content: "";
 width: 1.2rem;
 height: 1.2rem;
 left: 0.2rem;
 bottom: 2px;
 border-radius: 50%;
 background-color: white;
 transition: 0.4s;
}
input:checked + .slider-toggle {
 background-color: #335eea;
}

input:checked + .slider-toggle:before {
 transform: translateX(1.4rem);
}

.provider__header--content {
 padding: 0 20px;
 margin: 0 96px;
}
.provider__header--content h3 {
 font-size: 32px;
 margin-bottom: 24px;
 margin-top: 24px;
}

.provider__header--content p {
 text-align: center;
 font-size: 20px;
 line-height: 24px;
 color: #506690;
 margin-bottom: 24px;
}

.provider__toggle {
 margin-bottom: 64px;
}
.provider__toggle span {
 font-size: 18px;
 color: #506690;
}

.pricing__left {
 background-color: #fff;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 border-radius: 4px;
 overflow: hidden;
 z-index: 10;
}

.pricing__right {
 margin: 24px 0;
 background-color: #fff;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 border-radius: 4px;
 overflow: hidden;
 z-index: 5;
}
.pricing__right-content,
.pricing__left-content {
 padding: 48px 28px;
}

.pricing__title {
 margin-bottom: 96px;
}

.pricing__title span {
 text-align: center;
 font-size: 14px;
 padding: 4px 12px;
 background-color: #eaeffd;
 color: #335eea;
 border-radius: 50px;
 text-transform: uppercase;
}

.pricing__title {
 text-align: center;
 margin-bottom: 24px;
}

.pricing-left--des {
 display: flex;
 justify-content: center;
 align-items: center;
}

.pricing-left--des h4 {
 font-size: 62px;
 margin-bottom: 8px;
}

.pricing-left--des p,
.pricing-left--des span {
 font-size: 32px;
}
.pricing-left--des span {
 margin-bottom: 24px;
}

.pricing-left--des p {
 margin-top: 24px;
}

.pricing--unit {
 color: #869ab8;
 margin-bottom: 48px;
}

.pricing-left--list-item {
 margin: 0 48px;
 margin-bottom: 16px;
}

.pricing-left--list-item span {
 font-size: 17px;
}

.pricing__btn {
 width: 100%;
 outline: none;
 border: none;
 font-size: 16px;
 padding: 18px 0;
 cursor: pointer;
}

.standard {
 background-color: #2b50c7;
 color: #fff;
}

.enterprise {
 background-color: #d9e2ef;
 color: #506690;
 margin-top: auto;
 cursor: pointer;
}

.pricing__title--enterprise {
 margin-bottom: 96px;
}

.pricing__right-content p {
 text-align: center;
 font-size: 21px;
 color: #869ab8;
 line-height: 36px;
}

.page-question {
 background-color: #1b2a4e;
}

.pricing--overlay {
 position: absolute;
 z-index: -1;
 top: 70%;
 width: 100%;
 bottom: 0;
 background-color: #1b2a4e;
}

.pricing--overlay img {
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 transform: scale(2.2);
 z-index: 10;
}

.page-question--content {
 display: flex;
 margin-bottom: 48px;
 color: #fff;
}

.page-question--icon {
 flex-shrink: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 28px;
 width: 28px;
 background-color: #42ba96;
 font-size: 12px;
 border-radius: 50px;
 margin-right: 24px;
}

.page-question--text h4 {
 font-size: 20px;
 margin-bottom: 8px;
}

.page-question--text p {
 font-size: 17px;
 color: #869ab8;
 line-height: 28px;
}

.efficient {
 margin: 0 48px;
}

.efficient-content span {
 font-size: 12px;
 padding: 4px 12px;
 color: #506690;
 background-color: #203055;
 border-radius: 50px;
}

.efficient-content h4 {
 font-size: 44px;
 color: #fff;
}

.efficient-content p {
 font-size: 19px;
 line-height: 32px;
 color: #869ab8;
 text-align: center;
}

.btn-efficient {
 background-color: #42ba96;
 color: #fff;
}

.btn-efficient:hover {
 background-color: #389e80;
}

.page-question--overlay img {
 transform: scale(2.2);
}
