/* Mobile vs Tablet */
@media (max-width: 991px) {
 .hidden-mb-tl {
  display: none;
 }

 .hide-on-mb-tl {
  display: block;
 }

 .banner-left .banner-title {
  font-size: 36px !important;
  font-weight: 400;
  margin-bottom: 18px;
 }

 .banner-left p {
  font-size: 18px !important;
  margin-bottom: 32px !important;
 }

 .intro-cohesive h3 {
  font-weight: 400;
  font-size: 18px;
  /* margin: 12px 0 16px; */
 }

 .intro-cohesive p {
  font-weight: 400;
  font-size: 16px;
 }

 .experience__left h2,
 .statistical__content--left h2,
 .form__right--title,
 .provider__header--content h3,
 .customer__intro h4 {
  font-size: 24px !important;
 }

 .efficient-content p,
 .page-question--text h4 .form__right--content,
 .experience__left p,
 .provider__header--content p,
 .customer__intro p {
  font-size: 17px !important;
 }

 .item-first-right_list-left a li {
  margin-top: 7.2px !important;
 }

 .efficient-content h4 {
  font-size: 32px;
  text-align: center;
 }

 .footer__right--content {
  margin-bottom: 32px;
 }

 .nav-item_first-right {
  margin: 24px 0 0 !important;
 }

 .nav__second--content {
  padding: 0;
 }
 .nav-item_fourth {
  padding: 0 !important;
 }

 .header-nav_item-mb > span {
  font-size: 17px;
  color: #161c2d;
 }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 991px) {
 .hidden-tl {
  display: none;
 }

 .hide-on-tl {
  display: block;
 }

 .form__right--content {
  margin-left: 0;
 }

 .slider__logo--item img {
  height: 32px;
  margin-bottom: 12px;
 }

 .form__slider {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .form__slider--img {
  width: 125%;
  left: 60%;
 }

 .form__slider--overlay {
  width: 125%;
  left: 65%;
  top: auto !important;
 }

 .customer__intro {
  margin: 0 36px;
 }
}

/* Mobile */

@media (max-width: 768px) {
 .hidden-mb {
  display: none;
 }

 .hide-on-mb {
  display: block;
 }

 .pt-96 {
  padding-top: 24px;
 }

 .banner-left p,
 .banner-left h2 {
  text-align: center;
 }

 .btn-banner {
  justify-content: center;
 }

 .img-banner {
  position: relative !important;
  height: 100%;
  width: 100%;
  margin-bottom: 32px;
 }

 .banner-mobile {
  flex-direction: column-reverse;
  gap: 8px;
 }

 .intro-cohesive {
  margin-bottom: 48px;
 }

 .intro-cohesive:last-child {
  margin-bottom: 0;
 }

 .slider__logo--item img {
  height: 54px;
  margin-bottom: 12px;
 }

 .form__right--content {
  margin-left: 0;
 }

 .form-group {
  display: flex;
  flex-direction: column-reverse;
 }

 .form__right--title {
  line-height: 36px !important;
 }

 .form__right--content p {
  margin-bottom: 28px;
 }

 .form__left {
  margin-top: 24px;
 }

 .experience {
  flex-direction: column;
 }

 .experience__left p {
  line-height: 28px;
 }

 .experience__left--icon img {
  height: 48px;
  width: 48px;
 }

 .form__slider {
  flex: 1;
  margin-top: 48px;
 }

 .form__slider--overlay {
  transform: translateX(-50%) scale(1.1);
 }

 .intro__slider--img img {
  border-radius: 0 !important;
 }

 .form__slider--img {
  position: relative !important;
  left: 50%;
 }
 .customer__intro {
  margin: 0 0;
 }

 .customer__intro h4,
 .customer__intro p {
  text-align: center;
 }

 .intro__slider {
  max-height: 760px !important;
 }

 .m-p-32 {
  padding: 32px;
 }

 .m-column {
  display: flex;
  flex-direction: column;
 }

 .btn-prev-slider,
 .btn-next-slider {
  top: 80% !important;
  transform: translateY(-80%) !important;
 }

 .statistical__content-mobile {
  display: flex;
  flex-direction: column-reverse;
 }

 .statistical__content--img {
  padding-top: 48px;
 }

 .provider__header--content {
  margin: 0 0;
 }

 .pricing__left-content {
  padding: 48px 8px;
 }

 .pricing-left--list-item {
  width: 100%;
  margin: 0 0 16px;
 }
 .pricing__title--enterprise {
  margin-bottom: 48px !important;
 }

 .pricing-left--des span {
  margin-bottom: 12px !important;
 }

 .pricing-left--des p {
  margin-top: 0 !important;
 }
 .pricing-left--des p,
 .pricing-left--des span {
  font-size: 24px !important;
 }
 .pricing-left--des-number {
  font-size: 40px !important;
 }

 .pricing__right-content p {
  font-size: 19px !important;
 }

 .efficient {
  margin: 0 0;
 }

 .footer__left {
  margin-bottom: 32px;
 }
}

/* container */

@media (min-width: 576px) {
 .mx-container {
  max-width: 540px;
  margin: 0 auto;
 }
}

@media (min-width: 768px) {
 .mx-container {
  max-width: 720px;
  margin: 0 auto;
 }
 .img-banner {
  margin-bottom: 0 !important;
  max-width: 150% !important;
  height: 100% !important;
 }
}

@media (min-width: 992px) {
 .mx-container {
  max-width: 960px;
  margin: 0 auto;
 }

 .img-banner {
  margin-bottom: 0 !important;
  max-width: 150% !important;
  height: 120% !important;
 }
}

@media (min-width: 1200px) {
 .mx-container {
  max-width: 1040px;
  margin: 0 auto;
 }
}
